<!DOCTYPE html>
<html>

  <head>
    <title>Employees</title>
    <link rel="stylesheet" href="index.css">
    {% include 'nav.html' %}
  </head>
  <body>

    <main>
      <div id="table">
          <br>
          <div align = "right">
          <a class="nav-link" href="{{url_for('addLoginView')}}" style="color: #FFE8E1"><button padding ="10%" align="right" class="btn btn-dark btn-sm">Create a Login</button></a><br>
          <a class="nav-link" href="{{url_for('addEmployView')}}" style="color: #FFE8E1"><button padding ="10%" align="right" class="btn btn-dark btn-sm">Register an Employee</button></a><br>
              </div>
        <h2> Pending Employees</h2>
        <table class="table" id="tbl">
          <thead style="background-color: #0B0033; color: white">
            <tr>
              <th scope="col">Employee ID</th>
              <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Job</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Department</th>
                <th scope="col">Approved</th>
                <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody id="myTable" style="background-color: rgb(235, 240, 245)">
            <!-- first-row -->
            {% for row in data[1] %}
            <tr>
              <td>{{ row["Employee_ID"] }}</td>
              <td>{{ row["Name"] }}</td>
                <td>{{ row["Email"] }}</td>
                <td>{{ row["Job"] }}</td>
                <td>{{ row["dob"] }}</td>
                <td>{{ row["dpt"] }}</td>
                <td>{{ row["approved"] }}</td>
            <td style="display: flex; gap: 10px">
                        {% if row["approved"] %}
                            <div style="margin-top: -3px">
                                 <a href ="{{ url_for('unapp_employ', id=row["Employee_ID"])}}" onclick="return confirm('Do you want to unapprove {{ row["Name"] }}');" title="Unapprove">
                                <i
                                  class="fa fa-times"
                                  aria-hidden="true"
                                  style="cursor: pointer"
                                ></i>
                                </a>
                            </div>
                            <div style="margin-top: -3px">
                                <a href ="{{ url_for('pend_employ', id=row["Employee_ID"])}}" onclick="return confirm('Do you want confrim the status of {{ row["Name"] }}');" title="Confrim Status">
                                <i
                                  class="fa fa-times-circle"
                                  aria-hidden="true"
                                  style="cursor: pointer"
                                ></i>
                                </a>
                            </div>

                    {% else %}
                            <div style="margin-top: -3px">
                                <a href ="{{ url_for('app_employ', id=row["Employee_ID"])}}" onclick="return confirm('Do you want to approve {{ row["Name"] }}');" title="Approve">
                                <i
                                  class="fa fa-check"
                                  aria-hidden="true"
                                  style="cursor: pointer"
                                ></i>
                                </a>
                            </div>
                             <div style="margin-top: -3px">
                                <a href ="{{ url_for('pend_employ', id=row["Employee_ID"])}}" onclick="return confirm('Do you want confrim the status of {{ row["Name"] }}');" title="Confrim Status">
                                <i
                                  class="fa fa-times-circle"
                                  aria-hidden="true"
                                  style="cursor: pointer"
                                ></i>
                                </a>
                            </div>
                    {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    <h2 style="padding-left: 15%">Non Pending Employees</h2>
    <div id="table">
        <table class="table" id="tbl">
          <thead style="background-color: #0B0033; color: white">
            <tr>
              <th scope="col">Employee ID</th>
              <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Job</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Department</th>
                <th scope="col">Approved</th>
            </tr>
          </thead>
          <tbody id="myTable" style="background-color: rgb(235, 240, 245)">
            <!-- first-row -->
            {% for row in data[0] %}
            <tr>
              <td>{{ row["Employee_ID"] }}</td>
              <td>{{ row["Name"] }}</td>
                <td>{{ row["Email"] }}</td>
                <td>{{ row["Job"] }}</td>
                <td>{{ row["dob"] }}</td>
                <td>{{ row["dpt"] }}</td>
                <td>{{ row["approved"] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    <div id="selector">
        <input
          type="text"
          class="form-control"
          id="input1"
          onkeyup="myFunction()"
          placeholder="Employee Name"
        />
      </div>
    </main>
    <script>
      function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("input1");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
    </script>
  </body>
</html>
